@import url(https://fonts.google.com/specimen/Hanken+Grotesk);
@font-face {
	font-family: "Hanken Grotesk";
	src: url(./assets/fonts/HankenGrotesk-VariableFont_wght.ttf);
}

:root {
	--clr-stats-red: hsl(0, 100%, 67%);
	--stats-bg-red: hsla(0, 100%, 67%, 20%);

	--clr-stats-yellow: hsl(39, 100%, 56%);
	--stats-bg-yellow: hsla(39, 100%, 56%, 20%);

	--clr-stats-teal: hsl(166, 100%, 37%);
	--stats-bg-teal: hsla(166, 100%, 37%, 20%);

	--clr-stats-blue: hsl(234, 85%, 45%);
	--stats-bg-blue: hsla(234, 85%, 45%, 20%);

	--clr-white: hsl(0, 0%, 100%);
	--clr-neutral-blue: hsl(221, 100%, 96%);
	--clr-neutral-lavander: hsl(241, 100%, 89%);
	--clr-neutral-blue: hsl(224, 30%, 27%);

	--clr-bg-sblue: hsl(252, 100%, 67%);
	--clr-bg-rblue: hsl(241, 81%, 54%);

	--clr-shape-vblue: hsla(256, 72%, 46%, 1);
	--clr-shape-pblue: hsl(224, 30%, 27%);

	--fw-500: 500;
	--fw-700: 700;
	--fw-800: 800;

	--fs-body: 18px;
	--ff: "Hanken Grotesk", Arial, sans-serif;

	--sz-50: 0.5rem;
	--sz-100: 1rem;
	--sz-150: 1.5rem;
	--sz-175: 1.75rem;
	--sz-200: 2rem;
	--sz-250: 2.5rem;
	--sz-275: 2.75rem;
	--sz-300: 3rem;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	font-family: var(--ff);
	font-size: var(--fs-body);
	height: 100%;
	width: 100%;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}
.container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	background-color: var(--clr-white);
	border: 1px solid red;
	border-radius: var(--sz-150);
	background-color: var(--clr-white);
}
section {
	flex: 1;
}
.card-result article {
	background-color: var(--clr-bg-sblue);
}
article {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.card-result {
	height: 100%;
	/* background-color: var(--clr-bg-rblue); */
}
.circle {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	background: linear-gradient(
		to bottom,
		var(--clr-shape-pblue),
		var(--clr-shape-vblue)
	);
}

/* li {
	list-style-type: none;

}
li:nth-child(1) {
	background-color: var(--stats-bg-red);
}
li:nth-child(2) {
	background-color: var(--stats-bg-yellow);
}
li:nth-child(3) {
	background-color: var(--stats-bg-teal);
}
li:nth-child(4) {
	background-color: var(--stats-bg-blue);
}
li > div {
	display: flex;
	justify-content: space-between;
} */
