@import url(https://fonts.google.com/specimen/Hanken+Grotesk);
@font-face {
	font-family: "Hanken Grotesk";
	src: url(./assets/fonts/HankenGrotesk-VariableFont_wght.ttf);
}

:root {
	--clr-stats-red: hsl(0, 100%, 67%);
	--stats-bg-red: hsla(0, 100%, 67%, 20%);

	--clr-stats-yellow: hsl(39, 100%, 56%);
	--stats-bg-yellow: hsla(39, 100%, 56%, 20%);

	--clr-stats-teal: hsl(166, 100%, 37%);
	--stats-bg-teal: hsla(166, 100%, 37%, 20%);

	--clr-stats-blue: hsl(234, 85%, 45%);
	--stats-bg-blue: hsla(234, 85%, 45%, 20%);

	--clr-white: hsl(0, 0%, 100%);
	--clr-pale-blue: hsl(221, 100%, 96%);
	--clr-light-lavander: hsl(241, 100%, 89%);
	--clr-darkgray-blue: hsl(224, 30%, 27%);

	/* ** gradients */
	--clr-bg-sblue: hsl(252, 100%, 67%);
	--clr-bg-rblue: hsl(241, 81%, 54%);

	--clr-circle-vblue: hsla(256, 72%, 46%, 1);
	--clr-circle-pblue: hsl(224, 30%, 27%);

	--fw-500: 500;
	--fw-700: 700;
	--fw-800: 800;

	--fs-body: 18px;
	--ff: "Hanken Grotesk", Arial, sans-serif;

	--sz-50: 0.5rem;
	--sz-100: 1rem;
	--sz-150: 1.5rem;
	--sz-175: 1.75rem;
	--sz-200: 2rem;
	--sz-250: 2.5rem;
	--sz-275: 2.75rem;
	--sz-300: 3rem;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	font-family: var(--ff);
	font-size: var(--fs-body);
	height: 100%;
	width: 100%;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}
main {
	background: var(--clr-white);
}
.container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-items: center;
	max-width: 700px;
	height: auto;
	margin: var(--sz-100);
	border-radius: var(--sz-150);
	box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.1);
}
section {
	height: auto;
	flex: 1 1 50%;
	padding: var(--sz-200) var(--sz-150);
}
.link-div,
.category {
	display: flex;
}
.category {
	margin-right: var(--sz-300);
}

.link-div {
	justify-content: space-between;
	align-items: center;
	padding: var(--sz-50);
}

.category img {
	margin-right: var(--sz-50);
}

li {
	list-style-type: none;
	margin-bottom: 15px;
	border-radius: 5px;
}

.card-result {
	color: var(--clr-light-lavander);
	background: linear-gradient(
		to bottom,
		var(--clr-bg-sblue),
		var(--clr-bg-rblue)
	);
	border-radius: var(--sz-150);
}
.card-result article {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.circle {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 150px;
	height: 150px;
	margin: var(--sz-100) 0;
	border-radius: 50%;
	background: linear-gradient(
		to bottom,
		var(--clr-circle-pblue),
		var(--clr-circle-vblue)
	);
}
.circle div > p {
	text-align: center;
	color: var(--clr-white);
	font-weight: var(--fw-800);
	font-size: var(--sz-300);
}
h2 + p {
	width: 85%;
	line-height: 1.5;
	flex: 1;
	text-align: center;
	margin-top: var(--sz-50);
}
.card-summary ul {
	margin: var(--sz-150) 0;
}
.btn {
	display: flex;
	justify-content: center;
	align-self: flex-end;
}
button {
	flex: 1;
	cursor: pointer;
	border: none;
	font-size: var(--sz-100);
	font-weight: var(--fw-700);
	color: var(--clr-light-lavander);
	background-color: var(--clr-darkgray-blue);
	padding: var(--sz-50);
	border-radius: 20px;
	transition: background-color 0.3s ease;
}
button:hover {
	background: linear-gradient(
		to bottom,
		var(--clr-bg-rblue),
		var(--clr-bg-sblue)
	);
}
.attribution {
	margin-top: var(--sz-100);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
a {
	text-decoration: none;
	color: var(--clr-darkgray-blue);
	font-weight: var(--fw-700);
	transition: border-bottom 2s ease-in-out;
}
a:hover {
	border-bottom: 3px solid var(--stats-bg-teal);
}
li:nth-child(1) {
	background-color: var(--stats-bg-red);
}
li:nth-child(2) {
	background-color: var(--stats-bg-yellow);
}
li:nth-child(3) {
	background-color: var(--stats-bg-teal);
}
li:nth-child(4) {
	background-color: var(--stats-bg-blue);
}
li:nth-child(1) .link-div .category > p {
	color: var(--clr-stats-red);
}
li:nth-child(2) .link-div .category > p {
	color: var(--clr-stats-yellow);
}
li:nth-child(3) .link-div .category > p {
	color: var(--clr-stats-teal);
}
li:nth-child(4) .link-div .category > p {
	color: var(--clr-stats-blue);
}

li:nth-child(1) .link-div .category + p > b {
	color: var(--clr-darkgray-blue);
	margin-right: var(--sz-50);
}
li:nth-child(2) .link-div .category + p > b {
	color: var(--clr-darkgray-blue);
	margin-right: var(--sz-50);
}
li:nth-child(3) .link-div .category + p > b {
	color: var(--clr-darkgray-blue);
	margin-right: var(--sz-50);
}
li:nth-child(4) .link-div .category + p > b {
	color: var(--clr-darkgray-blue);
	margin-right: var(--sz-50);
}

@media (max-width: 320px) {
	h2 + p {
		width: 90%;
		font-size: 14px;
		line-height: 1.3;
		flex: 1;
		text-align: center;
		margin-top: var(--sz-50);
	}
}
@media (max-width: 700px) {
	html,
	body {
		align-items: flex-start;
	}
	.container {
		margin: 0;
		align-items: center;
		justify-content: center;
		border-radius: 0;
		box-shadow: none;
		height: 100%;
	}
	.card-result {
		border-top-left-radius: 0;
		border-top-right-radius: 0;
	}
	button {
		padding: var(--sz-100);
		border-radius: 30px;
	}
	section {
		flex: 1 1 100%;
		margin: 0;
		padding: var(--sz-150);
	}
	.card-result article {
		display: flex;
		justify-content: center;
		align-items: center;
	}
}
